<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= title %>
    <h1><center>
      FIRST APPLICATION
    </center></h1>
  </body>
</html>
